@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.none {
	display: none;
}

.block {
	display: block;
}

.inline-table {
	display: inline-table;
}

.table-cell {
	display: table-cell;
	vertical-align: top;
}

.fit-width {
	width: 100%;
}

iframe.fit-box {
	width: 100%;
	height: 100%;
	border: solid 1px #8888ff;
	outline: none;
}